* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
  }
  /* header section style */
  
  .header-container{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    align-items: center;
  }
  .header-section-logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .header-section-logo h2 {
    color: #0b0223;
    font-size: 2.4rem;
    font-weight: 700;
  }
  .header-section-logo h2 span {
    color: rgb(209, 95, 133);
  }
  .header-nav-Items nav ul {
    display: flex;
    gap: 1rem;
  }
  .header-nav-Items nav ul li {
    padding: 0.5rem 0.8rem;
    display: inline-block;
  }
  .header-nav-Items nav ul li a {
    color: #3c354f;
  
    font-size: 1.2rem;
    font-weight: 500;
  }
  nav ul li.socialBtn {
    border-radius: 8px;
    background-color: rgba(7, 1, 23, 0.1);
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  nav ul li i.youtube {
    display: inline-block;
    color: #f61c0d;
    font-size: 1.5rem;
  }
  nav ul li i.black {
    display: inline-block;
    color: #000000;
  }
  .banner-container {
    display: flex;
    justify-content: space-around;
    max-width: 1480px;
    align-items: center;
    margin: auto;
    height: 700px;
  }
  .banner-discription {
    background-image: url("./images/Group\ 14.png");
    background-position: center;
    background-size: contain;
    padding: 10%;
    border-radius: 0.6rem;
  }
  .banner-discription h2 {
    color: #0b0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-discription h1 {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner-discription ul li {
    color: #534c64;
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  .banner-discription ul li i {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    color: rgb(209, 136, 136);
  }
  .banner-discription ul {
    margin-top: 2rem;
  }
  .banner-container img {
    width: 400px;
    height: 400px;
  }
  .banner-Btn {
    margin-top: 3rem;
  }
  .btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    color: white;
    font-size: 21px;
    padding: 21px 40px;
    border: none;
  }
  
  .btn:hover {
    background: linear-gradient(90deg, #c285a5 0%, #dda4c1 100%);
    border: none;
    cursor: pointer;
  }
  .banner-more-Btn {
    background: #4ec5f7;
    margin-left: 1rem;
    padding: 1.3rem 2.9rem;
  }
  .banner-more-Btn:hover {
    background-color: #8ec9e2;
  }
  /* gammer style */
  
  .gammer-container {
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%
    );
    padding: 1rem 0.6rem;
  }
  
  .gammer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1480px;
    margin: auto;
    gap: 1rem;
  }
  .gammer-discription {
    max-width: 500px;
    text-align: right;
  }
  .gammer-discription h1 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .gammer-discription p {
    color: #534c64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 1rem;
  }
  .gammer-Img img {
    width: 600px;
  }
  .gam {
    margin-top: 1rem;
  }
  /* videos style */
  .videos-container {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
  
  .videos-Title-description {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .videos-Title-description h1 {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .videos-Title-description h1 span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
  }
  
  .videos-Title-descriptiont p {
    color: #534c64;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    gap: 1rem;
  }
  
  .videos p {
    color: #534c64;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .video {
    position: relative;
    width: 300px;
  }
  
  .video img {
    width: 100%;
  }
  .video .icon {
    text-align: center;
  }
  
  .video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 86%;
    border-radius: 0.6rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 4px solid rgb(237, 144, 144);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  
  .video .overlay i,
  .video .overlay p {
    color: white;
    font-size: 2rem;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .video .overlay p {
    color: #cb1683;
    font-weight: bold;
    font-size: 1rem;
  }
  
  
  .video:hover .overlay {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
  
  
  .video:hover .overlay i,
  .video:hover .overlay p {
    opacity: 1;
    visibility: visible;
  }
  
 
  
  .install-container {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  .install-description{
    max-width: 280px;
    text-align: right;
  }
  .install-descriptiont h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    line-height: 1.3;
  }
  .install-description p {
    line-height: 2;
  }
  .install-description h1 span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .install-description {
    color: #534c64;
    font-size: 0.8rem;
  }
  .install-img {
    width: 400px;
    height: 500px;
    position: relative;
  }
  
  .install-img .bigImage img {
    width: 350px;
    position: relative;
  }
  
  .install-img .smallImage img {
    position: absolute;
    left: 0;
    bottom: 6rem;
    width: 200px;
    height: 200px;
  }
  
  .install-img .bigImage {
    position: absolute;
    right: 0;
  }
  .Careers-container {
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    padding: 5rem 0;
    text-align: left;
  }
  .careers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .careersTitleText {
    margin-left: 2rem;
  }
  .careersLists {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
  }
  
  .careersImage img {
    width: 500px;
  }
  .Careers-description-container {
    max-width: 600px;
    color: white;
  }
  .Careers-description-container h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .Careers-description-container p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  .careersLists .left ul li {
    margin-top: 0.5rem;
  }
  .careersLists .right ul li {
    margin-top: 0.5rem;
    text-align: right;
  }
  .testomonial-container {
    margin: 4rem 0;
    display: none;
  }
  .testomonial-container .fristImages {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    text-align: center;
  }
  .imageFlex {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    color: #0b0223;
    border: 1px solid white;
    padding: 0.4rem 1.3rem;
  }
  .imageFlex:hover {
    border: 1px solid red;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
    color: rgb(238, 129, 129);
  }
  .DesToptestomonialContainer .FristImages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
  }
  .DesToptestomonialContainer .SecondImages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .FooterContainer {
    background: #0b0223;
    padding: 6rem 0;
  }
  .footerText {
    text-align: center;
  }
  .footerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 1.3rem;
  }
  .footerTitle h1 span {
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .footerText ul.FooterNav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }
  .footerText ul.FooterNav li a {
    color: white;
  }
  .footerText ul.socialMenu {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  .footerText ul.socialMenu li {
    font-size: 2rem;
  }
  .footerText ul.socialMenu li a {
    color: white;
  }
  .footerText ul.AnotherNav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  .footerText ul.AnotherNav li {
    font-size: 0.8rem;
  }
  .footerText ul.AnotherNav li a {
    color: rgba(255, 255, 255, 0.6);
  }
  .footerText p {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .socialMenu li.downMenu a {
    text-align: center;
  }
  .socialMenu li.downMenu a {
    font-size: 0.5rem;
  }
  
  .careersBtn {
    margin-top: 3rem;
    background: white;
    color: rgb(241, 121, 163);
  }
  .careersBtn:hover {
    color: #3c354f;
  }
  
  /* mobile device  */
  
  .hide {
    display: none;
  }
  
  @media screen and (max-width: 576px) {
    .header-container,
    .header-nav-Items nav ul,
    .gammer,
    .videos,
    .install-container,
    .careers {
      flex-direction: column;
      text-align: center;
    }
    .banner-container {
      flex-direction: column-reverse;
      margin-top: 10rem;
      width: 100%;
    }
    .banner-Btn {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
    .btn {
      font-size: 1rem;
      padding: 0.9rem 2rem;
    }
    .banner-more-Btn {
      padding: 0.9rem 2rem;
    }
    .banner-discription ul li {
      font-size: 1rem;
    }
    .header-nav-Items nav ul {
      margin-top: 2rem;
    }
    .banner-discription h1 {
      font-size: 3rem;
    }
    .banner-discription h2 {
      font-size: 2rem;
    }
    .banner-discription ul li i {
      font-size: 1rem;
    }
    /* gammer style */
  
    .gammer-Img img {
      width: 100%;
    }
    .gammer-discription {
      text-align: center;
    }
    .install-img .bigImage img {
      width: 350px;
      position: relative;
    }
    .install-description {
      text-align: center;
    }
    .install-img .smallImage img {
      top: 14rem;
    }
    .Careers-container {
      margin-top: 12rem;
    }
    .careersImage img {
      width: 100%;
    }
    .Careers-description-container {
      max-width: 300px;
      color: white;
    }
    .Careers-description-container h1 {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }
    .Careers-description-container p {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }
    .careersLists .left ul li {
      margin-top: 0.5rem;
      font-size: 0.5rem;
      text-align: left;
    }
    .careersLists .right ul li {
      margin-top: 0.5rem;
      text-align: right;
      font-size: 0.5rem;
    }
    .testomonial-container .fristImages,
    .footerText ul.socialMenu,
    .footerText ul.FooterNav {
      grid-template-columns: auto auto auto;
    }
    .testomonial-container {
      display: block;
    }
    .footerText ul.AnotherNav {
      grid-template-columns: auto auto;
      text-align: left;
    }
    .imageFlex {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
      color: #0b0223;
      border: 1px solid white;
      padding: 0.2rem 1rem;
    }
    .imageFlex img {
      width: 35px;
    }
    .imageFlex span {
      font-size: 0.5rem;
    }
    .ftex {
      max-width: 200px;
      margin-top: 4rem;
      margin: auto;
    }
    .careersTitleText {
      margin-left: 0;
    }
    .careersBtn {
      font-size: 0.5rem;
    }
    .gammer-container {
      margin-top: 5rem;
    }
    .DesToptestomonialContainer {
      display: none;
    }
  }
  
  /* medum device  */
  
  @media screen and (min-width: 577px) and (max-width: 992px) {
    .header-container {
      flex-direction: column;
      text-align: center;
    }
    .header-section-logo {
      margin-bottom: 1rem;
    }
    nav ul li.socialBtn {
      align-items: center;
      background-color: white;
      gap: 1rem;
    }
    .banner-container {
      margin-top: 4rem;
      align-items: normal;
    }
    .banner-container {
      padding: 0;
      margin-left: 1rem;
      background-image: none;
    }
    .banner-container img {
      width: 300px;
      height: 300px;
    }
    .gammer {
      flex-direction: column;
      text-align: center;
    }
    .gammer-discription {
      text-align: center;
    }
    .videos {
      flex-wrap: wrap;
    }
    .careers {
      flex-wrap: wrap;
    }
    .Careers-description-container {
      margin-left: 0;
      text-align: center;
    }
    .testomonial-container .fristImages,
    .footerText ul.socialMenu,
    .footerText ul.FooterNav {
      grid-template-columns: auto auto auto;
    }
    .testomonial-container {
      display: block;
    }
    .footerText ul.AnotherNav {
      grid-template-columns: auto auto;
      text-align: left;
    }
    .imageFlex {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
      color: #0b0223;
      border: 1px solid white;
      padding: 0.2rem 1rem;
    }
    .imageFlex img {
      width: 35px;
    }
    .imageFlex span {
      font-size: 0.5rem;
    }
    .header-nav-Items nav ul li {
      padding: 0;
    }
    .socialBtn {
      padding: 0 0.5rem;
    }
    .DesToptestomonialContainer {
      display: none;
    }
  }